<% title "meeting topics", "topics" %>

<div style="background:#f3f3f3;border:1px solid #999;padding:20px">
	I would like to present the topic:<br/>
	<textarea rows=5 cols=60></textarea>
</div>

<p/>

<%= render :partial => 'topic' %>
<%= render :partial => 'topic' %>
<%= render :partial => 'topic' %>
