@charset "utf-8";

/*
Design by NodeThirtyThree <http://www.nodethirtythree.com>
Published by Free CSS Templates <http://www.freecsstemplates.org/>
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF url(/images/img01.gif) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #4A5157;
}

#sessions #signinNav a,
#about #aboutNav a,
#users #usersNav a,
#polls #pollsNav a,
#jobs #jobsNav a,
#books #booksNav a,
#profile #profileNav a,
#discuss #discussionNav a {
	background: #EC0000 url(/images/img03.gif) repeat-x left bottom;
}

h1, h2, h3, h4 {
/*	text-transform: lowercase;*/
	color: #292929;
}

h1 {
	letter-spacing: -1px;
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size:14px;
}

p, ul, ol {
	margin-bottom: 2em;
}

a {
	color: #FF0000;
}

a:hover {
	text-decoration: none;
}

img {
	border: none;
}

img.left {
}

img.right {
}

.tn img {
	border: 8px solid #F5F5F5;
}

hr {
	display: none;
}

#sponsors img {	
	border:1px solid #ddd;
	margin-bottom:10px;	
}

/* Members */

.post .member {
	float:left;
	margin-bottom: 30px;
	font-size: .9em;
}

.post .member p {
	margin-bottom:0px;
}

.post .member p.bio {
	margin-top: 10px;
}

.post .member img {
	float:left;
	border:1px solid #aaa;
	background:#fff;
	padding:4px;
	margin-right:10px;
	width:80px;
	height:80px;
}

.post .member .memberLinks {
	float:left;
	margin-top:1px;
	margin-left:10px;
}

/* Logo */

#logo {
	width: 750px;
	height: 147px;
	margin: 0 auto;
}

#logo h1 {
	float: left;
	padding: 69px 37px 0 0;
	height: 54px;
	background: url(/images/img02.gif) no-repeat 100% 62px;
	font-size: 48px;
	font-family:Times;
	font-weight: heavy;
	color: #FFFFFF;
	letter-spacing: -1px;
}

#logo h2 {
	float: right;
	padding: 98px 0 0 0;
	text-transform: none;
	font-weight: normal;
	font-size: 16px;
	color: #FFFFFF;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 770px;
	height: 50px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 25px;
	margin: 0 10px;
	padding: 5px 15px 0 15px;
	text-transform: lowercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active a {
	background: #EC0000 url(/images/img03.gif) repeat-x left bottom;
}

/* Page */

#bg {
	background: url(/images/img04.gif) no-repeat center top;
}

#page {
	width: 800px;
	margin: 0 auto;
	line-height: 160%;
	font-size:1.1em;
}

/* Content */

#content {
	float: left;
	width: 530px;
	padding: 0 0 0 24px;
}

#flash_notice
{
	margin-top: 15px;
	margin-bottom: -30px;
	padding:5px;
	border: 1px solid #aaa;
	color: #000;
	background: #ffeeaa;
}

#content h1 {
	margin: 45px 0 20px 0;
	padding-left: 33px;
	background: url(/images/img07.gif) no-repeat left center;
}

#content .content {
	padding-left: 32px;
}

/* Posts */

.post h1.title {
	margin: 45px 0 20px 0;
	padding-left: 33px;
	background: url(/images/img07.gif) no-repeat left center;
	line-height: normal;
}

.post h2.title {
	margin: 40px 0 25px 0;
	padding-left: 33px;
	background: url(/images/img07.gif) no-repeat left center;
	line-height: normal;
}

.post .title a {
	text-decoration: none;
	color: #292929;
}

.post .entry {
	padding-left: 32px;
}

.post ul, .post ol {
	margin-left: 3em;
}

.post ul {
	list-style-type: square;
}

.post ol {
	list-style-type: decimal;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 217px;
	padding: 0 1px 0 0;
}

#sidebar a {
	color: #4A5157;
}

#next-meeting .content {
	text-align: center;
	font-size: 14px;
}

.box {
}

.box .title {
	height: 27px;
	padding: 6px 0 0 34px;
	background: #C80000 url(/images/img05.gif) no-repeat;
	text-transform: lowercase;
	font-size: 17px;
	color: #FFFFFF;
}

.box .content {
	padding: 26px;
	background: url(/images/img06.gif) repeat-x;
}

.box ul {
	list-style: none;
	line-height: normal;
}

.box ul li {
	margin-bottom: 13px;
	font-size: 12px;
}

.box small {
	font-size: 10px;
	color: #808C96;
}

/* Footer */

#footer {
	padding: 35px 0;
	background: url(/images/img08.gif) no-repeat center top;
	font-size: 11px;
}

#footer p {
	text-align: center;
}

/* Forms */

/*
fieldset {
	border: 0;
	border-top: 1px solid #000;
	background-color: #f3f3f3;
	padding: 15px;
	margin: 0 0 25px 0;
}
fieldset legend {
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	padding: 0 3px;
}

label {
	font-weight: bold;
	line-height:150%;
	width: 100px;
	float:left;
	text-align: right;	
	padding: 1px 5px 0 0px;
}

.form p {
	margin-bottom:20px;
	line-height:100%;
}

.form small {
	display:block;
	margin-top:2px;
	margin-left:105px;
	font-size:11px;
	font-weight:normal;
	color:#999;
}

input {
	font-size: 14px;
}

.field-with-errors input {
}

.field-with-errors label {
	color: #c00;
}

textarea {
	font-family:arial,helvetica,sans-serif;
	font-size: 14px;
}
*/

input#openid_url {
  background: url(/images/openid-icon-small.gif) no-repeat;
  background-position: 0 50%;
  padding-left: 20px; 
	font-size: 1.2em;
}

.book_image
{
	border: 0px;
	float: left;
	padding-right:15px;
	margin-bottom:20px;
}

/* Scaffolding */

#errorExplanation {
/*  width: 400px;*/
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #fee;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1em;
  margin: -7px;
/*  background-color: #c00;*/
  color: #c00;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  color: #666;
  list-style: square;
	margin-left: 20px;
}

.fieldWithErrors {
/*  padding: 2px;
  background-color: red;
*/  display: inline;
}