<% if user %>
  <div id="member-spotlight" class="box">
  	<h2 class="title">Member Spotlight</h2>
  	<div class="content" style="text-align:center">

  		<img style="width:80px;padding-bottom:10px;padding:4px;background:#fff;border:1px solid #aaa;width:80px;height:80px" src="<%= user.image_url %>"/>
  		<h4><%= link_to user.name, users_path + "#" + user.id.to_s %></h4>
  		Member since <%= user.created_at.strftime('%B %Y') %><br/>
  	</div>
  </div>
<% end %>