<% title "new member", "profile" %>

<p>Please take a moment to fill out your member profile. This information will be displayed on the members page so everyone in the group can get to know you. This site uses Gravatar for your profile picture, which is linked by the email address you provide. If you do not wish to show up on the members page, leave the About You section blank.</p>

<%= render 'form' %>

<%= link_to 'Back', users_path %>