<div class="post">
	<h1 class="title">who are we?</h1>
	<div class="entry">
		<p>
		The popularity of the <a href="http://www.ruby-lang.org">Ruby programming language</a> 
		is growing at a rapid pace, along with that of the 
		<a href="http://www.rubyonrails.org">Ruby on Rails</a> web application framework. 
		The <strong>Houston Ruby Group</strong> is for those that are interested in programming in Ruby and 
		the Ruby on Rails framework.
		If you would like to interact with other Ruby developers in the Houston area, join us with your questions and your expertise. It does not matter whether you are just starting or whether you are a seasoned pro - all are welcome.
		</p>
	</div>
</div>

<div class="post">
	<h1 class="title">what do we do?</h1>
	<div class="entry">
		<p>
		We generally meet the 2nd Tuesday of each month at around 6pm to talk about Ruby and Rails.  The
		meetings usually consist of a presentation by a member or guest followed by discussion.  
		If you can't make it to the meetings, please feel free to join the <%= link_to 'discussion group', pages_path('discussion') %> and participate.
		</p>
	</div>
</div>

<div class="post">
	<h1 class="title">where do we meet?</h1>
	<div class="entry">
		<p>
		<a href='http://maps.google.com/?q=3040+Post+Oak+Boulevard,+Houston'>
		<img src="/images/datacertmap.png" align="left" style="margin-right:15px;margin-top:5px;padding:2px;border:1px solid #777;"/>
		</a>
			The usual meeting location (check the next meeting location above) is near the Galleria at the offices of <a href="http://www.datacert.com">DataCert</a>.
	   The only public parking garage that's still open at 6 p.m. is the Nordstrom garage to your right as you're driving down Hidalgo, between McCue Road and Sage Road.
	   After parking at Nordstrom, cross the street (Hidalgo) by foot and enter 3040 South Post Oak. The building is hexagonal and oblong, and it sits at an angle to the lot. Note that 3040 (DataCert) and 3050 look similar. 3040 is closer to Hidalgo.
	   Take the elevator up to the 18th floor. Someone will meet you there to let you into the DataCert space.  
			
		</p>
	</div>
</div>

<div class="post">
	<h1 class="title">what does this site offer?</h1>
	<div class="entry">
		<p>
		If you would like to become a member, please use the <%= link_to 'sign in', login_url %> link
		above to create your member profile.  On this site, you can browse
		<%#= link_to 'member profiles', members_url %> and check out the 
		<%#= link_to 'book library', books_url %>.
		</p>

		Other sites related to the Houston Ruby Group:
		<ul>
			<li><a href="http://houston-ror.pbwiki.com/">Houston Ruby Group Wiki</a></li>
			<li><a href="http://tech.groups.yahoo.com/group/Houston-RoR/">Houston Ruby Group Discussion</a></li>
		</ul>
	</div>
</div>
