<% title "houston ruby and rails group", "about" %>

<p>
	The popularity of the <a href="http://www.ruby-lang.org">Ruby programming language</a> 
	is growing at a rapid pace, along with that of the 
	<a href="http://www.rubyonrails.org">Ruby on Rails</a> web application framework. 
	The <strong>Houston Ruby Group</strong> is for those that are interested in programming in Ruby and 
	the Ruby on Rails framework.
	If you would like to interact with other Ruby developers in the Houston area, join us with your questions and your expertise. It does not matter whether you are just starting or whether you are a seasoned pro - all are welcome.
</p>

<h2 class="title">what do we do?</h2>
<p>
	We generally meet the 2nd Tuesday of each month in the evening to talk about Ruby and Rails.  The
	meetings usually consist of a presentation by a member or guest followed by discussion.  
	If you can't make it to the meetings, please feel free to join the <%= link_to 'discussion group', pages_path('discussion') %> and participate.
</p>

<h2 class="title">how do you join?</h2>
<p>
	Show up!  The information for the next meeting is shown on this page.  You
	can also <%= link_to 'create a profile', login_path %> on this site so other members can get to know you.
</p>
