<% title "discussion" %>

<p>
The Houston Ruby Group discussion is currently hosted at
<a href="http://tech.groups.yahoo.com/group/Houston-RoR/">
Yahoo Tech Groups</a>.  You will find links to the most recent posts below:
</p>

<div class="message">

  <%= render @posts %>

</div>