<div id="sponsors" class="box">
	<h2 class="title">Sponsors</h2>
	<div class="content" style="text-align:center">

		<a href="http://www.datacert.com"><%= image_tag 'sponsors/datacert.gif' %></a>
		
	</div>
</div>
<!-- end #sponsors -->
